body {
  margin: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 48px;
  justify-content: space-between;
}

/* GLOBAL CLASSES */
.d-grid {
    display: grid;
}

.d-flex {
  display: flex;
}

.flex-center-all {
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-space-between {
    justify-content: space-between;
  }

.cpointer {
  cursor: pointer;
}

.txtc {
    text-align: center;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
  }

.grey-color {
    color: hsla(0,0%,100%,.6);
}

/* DEFINED CLASSES */

.header-top-bar {
    background-color: #000;
    width: 100%;
    height: 32px;
    font-size: 0.8em;
  }

.topb-li {
    display: inline-block;
    margin-right: 10px;
}

.topb-li-a {
    text-decoration: none;
}

.topb-li-a:hover {
    color: #fff;
}

.logo {
  height: 48px;
  width: 106px;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
}

.logo-img {
  height: 16px;
  width: 66px;
}

.main-navigation {
    margin-right: auto;
}

.main-nav-ul {
    
}

.main-nav-li {
    display: inline-block;
    margin-right: 1.2em;
}

.main-nav-a {
    color: #bbb;
    font-size: 14px;
    text-decoration: none;
}

.main-nav-a:hover {
    color: #000;
}

.header-nav-icons {
  
}

.search-icon {
  color: #ccc;
  padding: 10px;
  border-left: 1px solid #dadada;
}

.hamb-icon {
  color: #f42;
  padding: 10px;
  border-left: 1px solid #dadada;
}

.yellow-news {
  height: 30px;
  width: 100%;
  background-color: #fd3;
  padding: 0 10px;
  font-size: 0.9em;
}

.main-article-logo {
    width: 40%;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 20px;
}

.main-articles-container {
    height: 880px;
    width: 95%;
    grid-template: 
    "main-article-1 main-article-2"
    "main-article-1 main-article-3";
}

.main-article-1 {
    background-image:
    linear-gradient(
        337deg,
        rgba(116, 116, 116, 0) 33%,
        rgba(255, 0, 0, 0.4158614129245448) 56%,
        rgba(255, 93, 93, 0.530707351299895) 84%
      ),
      linear-gradient(transparent, rgb(0, 0, 0)), url("/img/pic1.png"),
      url("../img/pic1.png");
}

/* Styles for Mobile Screen */
@media screen and (max-width: 768px) {
  .header-top-bar {
    display: none;
  }

  .yellow-news {
    height: 60px;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
  }

  .yellow-news p {
    margin: auto;
  }

  .main-articles-container {
      columns: 1fr;
  }

  .main-article {
    height: 265px;
    width: 95%;
}

/* Styles for Tablet Screen */
@media screen and (max-width: 1024px) {

}

/* Styles for Mobile Screen */
@media screen and (min-width: 1024px) {
  .header-top-bar {
    background-color: #000;
    width: 100%;
    height: 32px;
  }
}
